# Ignore virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*

# IDE settings
.vscode/
.idea/

# macOS metadata
.DS_Store

# Windows system files
Thumbs.db

